@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme inline {
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

@theme {
   --color-fade: #b7ab98;
   --color-dark: #0d0d0d;
   --color-highlight: #eb5939;

   --font-major: "Major Mono Display", monospace;

   @keyframes moveInCircle {
      0% {
         transform: rotate(0deg);
      }
      50% {
         transform: rotate(180deg);
      }
      100% {
         transform: rotate(360deg);
      }
   }

   @keyframes wave {
      0% {
         transform: translate(-90vw, 0);
      }
      20% {
         transform: translate(20vw, -5vh);
      }
      40% {
         transform: translate(40vw, 50vh);
      }
      60% {
         transform: translate(60vw, -60vh);
      }
      80% {
         transform: translate(80vw, 45vh);
      }
      100% {
         transform: translate(100vw, 0);
      }
   }

   @keyframes moveVertical {
      0% {
         transform: translateY(-50%);
      }
      50% {
         transform: translateY(50%);
      }
      100% {
         transform: translateY(-50%);
      }
   }

   @keyframes moveHorizontal {
      0% {
         transform: translateX(-50%) translateY(-10%);
      }
      50% {
         transform: translateX(50%) translateY(10%);
      }
      100% {
         transform: translateX(-50%) translateY(-10%);
      }
   }
}

@layer base {
   :root {
      --color-bg1: rgb(235, 89, 57);
      --color-bg2: rgb(13, 13, 13);
      --color1: 235, 106, 77;
      --color2: 221, 74, 255;
      --color3: 183, 171, 152;
      --color4: 200, 50, 50;
      --color-interactive: 140, 100, 255;
      --circle-size: 80%;
      --blending: hard-light;
   }

   * {
      box-sizing: border-box;
   }

   body {
      background: #0d0d0d;
      color: #b7ab98;
      font-family: "Space Mono", Arial, Helvetica, sans-serif;
      overflow-x: hidden;
   }
}

@layer components {
   .nav-hover {
      @apply relative inline-block;
   }

   .nav-hover::after {
      content: "";
      @apply block absolute bottom-0 left-0 w-full h-[3px] bg-highlight scale-x-0 transition-transform duration-250 ease-in-out;
      transform-origin: left;
   }

   .nav-hover:hover::after {
      @apply scale-x-100;
   }

   .backdrop {
      @apply rounded-3xl bg-neutral-600/30 backdrop-blur-xl border-fade/30;
   }

   .btn-primary {
      @apply capitalize w-full flex items-center justify-center gap-2 font-bold bg-fade/60 text-white hover:text-dark py-2 rounded-md hover:bg-highlight/80 cursor-pointer;
   }

   .input-focus {
      @apply w-full mt-1 p-2 bg-dark/40 rounded-md focus:outline-1;
   }

   /* gradient */
   .gradient-bg {
      @apply w-screen h-screen relative overflow-hidden top-0 left-0;
   }

   .gradient-bg svg {
      @apply w-0 h-0 top-0 left-0 fixed;
   }

   .gradient-container {
      @apply size-full;
      filter: url(#goo) blur(40px);
   }

   .g1 {
      position: absolute;
      background: radial-gradient(
            circle at center,
            rgba(var(--color1), 0.8) 0,
            rgba(var(--color1), 0) 50%
         )
         no-repeat;
      mix-blend-mode: var(--blending);

      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);

      transform-origin: center center;
      animation: moveVertical 30s ease-in-out infinite;

      opacity: 1;
   }

   .g2 {
      position: absolute;
      background: radial-gradient(
            circle at center,
            rgba(var(--color2), 0.8) 0,
            rgba(var(--color2), 0) 50%
         )
         no-repeat;
      mix-blend-mode: var(--blending);

      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);

      transform-origin: calc(50% - 400px);
      animation: moveInCircle 20s reverse infinite;

      opacity: 1;
   }

   .g3 {
      position: absolute;
      background: radial-gradient(
            circle at center,
            rgba(var(--color3), 0.8) 0,
            rgba(var(--color3), 0) 50%
         )
         no-repeat;
      mix-blend-mode: var(--blending);

      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2 + 200px);
      left: calc(50% - var(--circle-size) / 2 - 500px);

      transform-origin: calc(50% + 400px);
      animation: wave 40s linear infinite;

      opacity: 1;
   }

   .g4 {
      position: absolute;
      background: radial-gradient(
            circle at center,
            rgba(var(--color4), 0.8) 0,
            rgba(var(--color4), 0) 50%
         )
         no-repeat;
      mix-blend-mode: var(--blending);

      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);

      transform-origin: calc(50% - 200px);
      animation: moveHorizontal 40s ease-in infinite;

      opacity: 0.7;
   }

   .interactive {
      position: absolute;
      background: radial-gradient(
            circle at center,
            rgba(var(--color-interactive), 0.8) 0,
            rgba(var(--color-interactive), 0) 50%
         )
         no-repeat;
      mix-blend-mode: var(--blending);

      width: 100%;
      height: 100%;
      top: -50%;
      left: -50%;

      opacity: 0.7;
   }
}
